.cart {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 1.5rem 2rem;
}

.cart-tot {
  display: none;
  background-color: #fff;
  margin-bottom: 2rem;
  font-weight: 600;
}

.cart-shop-continue {
  padding: .5rem 0.4rem;
  border: .0625rem solid #ed017f;
  border-radius: .1875rem;
  color: #ed017f;
  text-decoration: inherit;
}

.cart-tool {
  margin: 2rem 2rem 5rem 2rem;
  height: 50vh;
}

.cart-tool-parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  grid-gap: 1rem;
}

.cart-tool-parent-item {
  background-color: #ffff;
}

.cart-tool-parent-item-itemdetails-main-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #e6e6e6;
  width: 100%;
  padding: 0.5rem;
  font-weight: 600;
  text-transform: capitalize;
}

.cart-tool-parent-item-itemdetails-main-name-details {
  width: 40%;
}

.cart-tool-parent-item-itemdetails-main-name-quantity {
  width: 20%;
}

.cart-tool-parent-item-itemdetails-main-name-price {
  width: 20%;
}

.cart-tool-parent-item-itemdetails-main-name-action {
  width: 20%;
}

.cart-tool-parent-item-itemdetails-main-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 0.5rem;
  font-weight: 600;
  text-transform: capitalize;
  border-bottom: .0625rem solid #e8e8e8;
}

.cart-tool-parent-item-itemdetails-main-product-image {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-tool-parent-item-itemdetails-main-product-image img {
  width: 50%;
  height: 20vh;
}

.cart-tool-parent-item-itemdetails-main-product-image span {
  color: #404553;
  font-size: .8125rem;
  font-weight: 600;
  margin-bottom: .25rem;
}

.cart-tool-parent-item-itemdetails-main-product-quantities {
  width: 20%;
}

.cart-tool-parent-item-itemdetails-main-product-prices {
  width: 20%;
  color: #4a4a4a;
}

.cart-tool-parent-item-itemdetails-main-product-actions {
  width: 20%;
}

.cart-tool-parent-item-itemdetails-main-product-actions-attribute {
  color: #9a0052;
  cursor: pointer;
  font-weight: 300;
  float: right;
  text-decoration: unset;
}

.cart-tool-parent-item-budget {
  background-color: #f2f2f2;
}

.cart-tool-parent-item-budget-summary {
  border-bottom: 0.0625rem solid #f2f2f2;
  padding: 1rem;
  font-weight: 600;
  background-color: #ffff;
}

.cart-tool-parent-item-budget-subtotal {
  border-bottom: 0.0625rem solid #f2f2f2;
  padding: 1rem;
  background-color: #ffff;
}

.cart-tool-parent-item-budget-delivery {
  border-bottom: 0.0625rem solid #f2f2f2;
  padding: 1rem 1rem 2.2rem 1rem;
  background-color: #ffff;
}

.cart-tool-parent-item-budget-delivery span {
  color: #9b9b9b;
  font-size: .625rem;
  font-weight: 400;
  text-align: right;
  width: 6.25rem;
  float: right;
}

.cart-tool-parent-item-budget-total {
  border-bottom: 0.0625rem solid #f2f2f2;
  padding: 1rem;
  font-weight: 600;
  background-color: #ffff;
}

.cart-tool-parent-item-budget p {
  border-bottom: 0.0625rem solid #f2f2f2;
  padding: 1rem;
  font-weight: 400;
  font-weight: 400;
  color: #b87300;
  font-size: .6875rem;
}

.cart-tool-parent-item-budget-checkout {
  background-color: #ffff;
}

.cart-tool-parent-item-budget-checkout button {
  background-color: #33b27b;
  border: none;
  width: 100%;
  padding: .5rem;
  color: #ffff;
  border-radius: 5px;
  margin-right: 1rem;
  font-size: 1.2rem;
}

.cart-tool-parent-item-budget-checkout button:hover {
  background-color: #33b27b;
}

.cart-tool-parent-item-budget-checkout button:focus {
  outline: none;
}

.count-btn {
  padding: 0.1rem 0.3rem;
  height: auto;
  background-color: #ffffff;
  border: 1px solid #efefef;
  cursor: pointer;
}

.count-btn:hover {
  background: #eeeeee;
}

.count-btn:focus {
  outline: none;
}

.count-input {
  width: 2.5rem;
  height: auto;
  padding: 0.1rem 0.3rem;
  text-align: center;
  background-color: transparent;
  border: 1px solid #efefef;
}

@media (max-width: 992px) {
  .cart {
    margin: 1.5rem 0.5rem;
  }
  .cart-tool-parent {
    -ms-grid-columns: 4fr;
        grid-template-columns: 4fr;
  }
  .cart-tot {
    display: block;
  }
  .cart-tool-parent-item-budget-summary {
    display: none;
  }
  .cart-tool-parent-item-budget-subtotal {
    display: none;
  }
  .cart-tool-parent-item-budget-delivery {
    display: none;
  }
  .cart-tool-parent-item-budget-total {
    display: none;
  }
  .cart-tool-parent-item-budget p {
    display: none;
  }
}

@media (max-width: 768px) {
  .cart {
    margin: 0;
  }
  .cart-tool-parent-item-itemdetails-main-name {
    display: none;
  }
  .cart-tool-parent-item-itemdetails-main-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .cart-tool-parent-item-itemdetails-main-product-image {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cart-tool-parent-item-itemdetails-main-product-image img {
    width: 50%;
    height: 20vh;
  }
  .cart-tool-parent-item-itemdetails-main-product-quantities {
    width: 100%;
  }
  .cart-tool-parent-item-itemdetails-main-product-prices {
    width: 100%;
    color: #4a4a4a;
    text-align: right;
  }
  .cart-tool-parent-item-itemdetails-main-product-actions {
    width: 100%;
  }
  .cart-tool-parent-item-itemdetails-main-product-actions-attribute {
    cursor: pointer;
    font-weight: 300;
    text-align: center;
    text-decoration: unset;
    background-color: unset;
    border: .0625rem solid #d8d8d8;
    border-radius: .1875rem;
    color: #404553;
    cursor: pointer;
    font-weight: 700;
    height: 1.875rem;
    font-size: .75rem;
    line-height: 1;
    margin: 0;
    text-align: center;
    width: 48%;
  }
  .cart-tool-parent-item-itemdetails-main-product-actions-attribute-r {
    float: left;
    padding-top: 0.5rem;
  }
  .cart-tool-parent-item-itemdetails-main-product-actions-attribute-s {
    float: right;
    padding-top: 0.5rem;
  }
}
/*# sourceMappingURL=Cart.css.map */