@import '../../style/variable';


.mobheader{
    width: 100%;
    margin-top: .5rem;
    padding: 0 .5rem;

    &-tools{

        display: flex;
        justify-content: space-between;

        &-item{
            text-align: center;
            & span{
                font-size: .75rem;
            }


        }
    }
}

@media screen and (min-width:769px){
    .mobheader{
        display: none ;

    }
}