.collapsMenu{
    position: absolute;
    top: .3rem !important;
    z-index: 100;

    &-btn{
        background-color: inherit !important;
        border: none !important;

        & i{
            font-size: 2rem;
            padding: .5rem;
        }
        
    }
}
.collapse{
    border-radius: 4rem !important;
}


@media screen and (min-width:769px){
    .collapsMenu{
        display: none ;

    }
}