@import "../../../style/variable";

.secondProductCard {
  cursor: pointer;
  &-tools {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    position: relative;


    &-item1 {
      &-discount {
        position: absolute;
        width: 4rem;
        top: 2%;
        left: 0;
        padding: 0.4rem;
        font-size: 0.8rem;
        color: $color-white;
        background-color: #ff3b3b;
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;
      }
    }

    &-item {
      text-align: center;

      & img {
        width: 12vw;
        height: 12vw;
      }
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
      &-name {
        line-height: 1.5em;
        height: 3em; /* height is 2x line-height, so two lines will display */
        overflow: hidden;
      }

      &-price {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $color-text-shadow;
        border-bottom: 1px solid $color-text-shadow;
        padding: 0.5rem;

        & span:nth-child(2) {
          text-decoration-line: line-through;
          color: $color-text;
        }
        & span:nth-child(1) {
          font-weight: 600;
        }
      }

      &-seller {
        color: $color-text;
      }

      &-cart {
        & button {
          width: 100%;
          background-color: $color-white;
          color: $color-button !important;
          border: 1px solid $color-button;
          border-radius: 0 !important;

          &:hover {
            background-color: $color-button;
            color: $color-white !important;
          }
        }
      }
    }
  }
}

.discountNot {
  display: none;
}

@media screen and (max-width: 671px) {
  .secondProductCard {
    &-tools {
      &-item {

        & img{
          height: 10rem;
          width: 10rem;
        }
        &-cart {
          display: none;
        }
      }
    }
  }
}
