@import "../../../style/variable";

.flip-card {
  background-color: transparent;
  width: auto;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */

  &-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  &:hover &-inner {
    transform: rotateY(180deg);
  }

  &-front,
  &-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;

    & li{
      color:black;
    }

  }

  &-front {
    background-color: #bbb;

    & p {
      position: absolute;
      top: 8rem;
      left: 23%;
      font-weight: 600;
      color: $color-white;
    }

    & img {
      width: inherit;
      height: 100%;
      border-radius: 5px;
    }
  }

  &-back {
    background-color: $color-white;
    border-radius: 5px;
    transform: rotateY(180deg);

    &-heading {
      padding: 0.5rem;
      display: grid;
      grid-template-columns: 2fr 1fr;

      & span {
        padding-top: 0.8rem;
        padding-left: 1rem;
        font-weight: 600;
      }

      & img {
        margin-left: 1rem;
        width: 3rem;
        height: auto;
      }
    }
    & ul {
      list-style: none;

      & li {
        margin-left: -1rem;
        width: 100%;
        text-decoration: none;
        padding: 0.2rem;
        cursor: pointer;
        &:hover {
          background-color: $color-white-shadow;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .flip-card {
    display: none;
  }
}
