@import "../../style/variable";

.checkout{
    position:relative;
    box-sizing: border-box;
    margin:1.5rem 2rem;
    &-tools{
        display:grid;
            
            grid-template-columns: 3fr 1fr;
            grid-gap: 1rem;
        &-main{
            
            &-order{
                
                &-details{
                   
                    
                    
                    &-delivery{
                        background-color: #fff;
                        border-bottom: .0625rem solid #e8e8e8;
                        padding:0.8rem 1.5rem;
                        & span{
                            
                            font-weight: 600;
                            font-size: .875rem;
                           
                            
                            
                            
                        }

                    }

                    &-set{
                        background-color: #fff;
                        display:grid;
                        grid-template-columns: 2fr 2fr;
                        grid-gap:1rem;
                        padding:1rem 1rem;
                        margin-bottom:3rem;
                            font-weight: 300;
                            font-size: .8125rem;
                           
                            &-location{

                                border: .0625rem solid hsla(0,0%,60.8%,.5);
                                border-radius: .1875rem;
                              
                                    &-info{
                                        &-me{
                                            padding:0.5rem 0.4rem;
                                            font-weight: 600;
                                            border-bottom: .0625rem solid #e8e8e8;
                                            &-a{
                                                position: relative;
                                                
                                              
                                                // z-index: 1;
                                                background-color: transparent;
                                                border: .0625rem solid #ed017f;
                                                color: #f84ca2;
                                                font-weight: 600;
                                                    
                                                 padding: 0.05rem 0.3rem;
                                                 height: auto;
                                                    
                                                cursor:pointer;
                                                float:right;
                                            }
                                            &-a:hover{
                                                background: #eeeeee;
                                            }
                                            &-a:focus{
                                                outline: none;
                                            }

                                            &-c{
                                                position: relative;
                                                
                                              
                                                // z-index: 1;
                                                background-color: transparent;
                                                border: .0625rem solid #ed017f;
                                                color: #f84ca2;
                                                font-weight: 600;
                                                    
                                                 padding: 0.05rem 0.3rem;
                                                 height: auto;
                                                    
                                                cursor:pointer;
                                                float:right;
                                            }
                                            & span:hover{
                                                background: #eeeeee;
                                            }
                                            & span:focus{
                                                outline: none;
                                            }
                                        }

                                        &-hi{
                                            padding:0.5rem 0.4rem;
                                            padding-bottom: 2rem;
                                        }

                                        &-your{
                                            padding:0.5rem 0.4rem;
                                            padding-bottom: 1rem;
                                            &-d{
                                                background-color: #f2f2f2;
                                                padding:0.5rem 0.4rem;
                                                & span{
                                                    padding:0.2rem 0.3rem;
                                                }
                                            }
                                            
                                        }
                                    }
                                    &-user{
                                        background-color: #f2f2f2;
                                        border: .0625rem solid orange;
                                        &-me{
                                            padding:0.5rem 0.4rem;
                                            font-weight: 600;
                                            border-bottom: .0625rem solid orange;
                                            &-a{
                                                float:right;
                                                text-decoration: none;
                                                
                                              
                                                // z-index: 1;
                                                background-color: white;
                                                border: .0625rem solid #ed017f;
                                                color: #f84ca2;
                                                font-weight: 600;
                                                    
                                                 padding: 0.05rem 0.3rem;
                                                 height: auto;
                                                    
                                                cursor:pointer;
                                                float:right;
                                            }
                                            &-a:hover{
                                                background: #eeeeee;
                                            }
                                            &-a:focus{
                                                outline: none;
                                            }
                                            &-b{
                                                position: relative;
                                                text-decoration: none;
                                              
                                                // z-index: 1;
                                                background-color: #fbcd00;
                                                border: .0625rem solid #ed017f;
                                                color: white;
                                                font-weight: 400;
                                                    
                                                 padding: 0.05rem 0.3rem;
                                                 height: auto;
                                                    
                                                cursor:pointer;
                                                float:right;
                                            }
                                            &-b:hover{
                                                color: white;
                                            }
                                            
                                            &-b:focus{
                                                outline: none;
                                            }
                                        }

                                        &-hi{
                                            padding:0.5rem 0.4rem;
                                            padding-bottom: 2rem;
                                        }

                                        &-your{
                                            padding:0.5rem 0.4rem;
                                            padding-bottom: 1rem;
                                            &-d{
                                                background-color: #f2f2f2;
                                                padding:0.5rem 0.4rem;
                                                & span{
                                                    padding:0.2rem 0.3rem;
                                                }
                                            }
                                            
                                        }
                                    }

                                &-pickup{

                                    &-help{
                                        padding:0.5rem 0.4rem;
                                        font-weight: 600;
                                        border-bottom: .0625rem solid #e8e8e8;

                                        &-d{
                                            background-color: transparent;
                                            border: .0625rem solid #ed017f;
                                            color: #f84ca2;
                                            font-weight: 600;
                                            position: relative;
                                             padding: 0.05rem 0.3rem;
                                             height: auto;
                                                
                                            cursor:pointer;
                                            float:right;
                                        }
                                        & span:hover{
                                            background: #eeeeee;
                                        }
                                        & span:focus{
                                            outline: none;
                                        }
                                    }
                                    &-select{
                                        padding:0.5rem 0.4rem;
                                            padding-bottom: 2rem;
                                    }
                                    &-from{
                                        padding:0.5rem 0.4rem;
                                            padding-bottom: 1rem;
                                        &-y{
                                            background-color: #f2f2f2;
                                            padding:0.5rem 0.4rem;
                                            & span{
                                                padding:0.2rem 0.3rem;
                                            }

                                        }
                                    }
                                }
                                
                            }
                            
                            
                    }
                }
            }
            &-payment{
                &-sum{
                    background-color: #fff;
                    
                    &-options{
                        border-bottom: .0625rem solid #e8e8e8;
                        padding:0.8rem 1rem;
                        font-weight:600;
                        
                    }
                    &-voucher{
                        border-bottom: .0625rem solid #e8e8e8;
                        padding:0.8rem 1rem;
                        font-weight: 500;
                    }
                    &-apply{
                        border-bottom: .0625rem solid #e8e8e8;
                        padding:0.8rem 1rem;
                        position: relative;
                        & button{
                           background-color: transparent;
                           position: relative;
                           border: .0625rem solid #ed017f;
                           color: #f84ca2;
                           font-weight: 600;
                            
                            padding: 0.1rem 0.3rem;
                            height: auto;
                            
                            cursor:pointer;
                            float:right;
                        }
                        & button:hover{
                            background: #eeeeee;
                        }
                        & button:focus{
                            outline: none;
                        }
                        & input{
                            border: .0625rem solid #ccc;
                            border-radius: .1875rem;
                            color: #4a4a4a;
                            font-size: .8125rem;
                            height: 2.1875rem;
                            position: relative;
                            letter-spacing: .01875rem;
                            padding: .625rem;
                            width: 70%;
                        }
                        & input:focus{
                            outline: none;
                        }
                    }
                    &-select{
                        border-bottom: .0625rem solid #e8e8e8;
                        padding:0.8rem 1rem;
                    }
                    &-subtotal{
                        border-bottom: .0625rem solid #e8e8e8;
                        padding:0.8rem 1rem;
                        font-weight: 600;
                    }
                    &-total{
                        border-bottom: .0625rem solid #e8e8e8;
                        padding:0.8rem 1rem;
                        font-weight: 600;
                    }
                    &-button{
                        border-bottom: .0625rem solid #e8e8e8;
                        padding:0.8rem 1rem;
                        & button{
                            position: relative;
                            background-color: $color-detail-button;
                    border: none;
                    width: 100%;
                    padding: .5rem;
                    color: $color-white;
                    border-radius: 5px;
                    margin-right: 1rem;
                    font-size: 1.2rem;
                            
                            
                        }
                        & button:hover{
                            background-color: $color-detail-button;
                        }
                        & button:focus{
                            outline: none;
                        }
                    }


                }
            }
            

        }
    }
}
.it{background-color: #fff;}
.sum{background-color: #fff;}

@media (max-width: 992px) { 
    .checkout{
        
        &-tools{
            display:flex;
            flex-direction: column;
        }
    }
}
@media (max-width: 768px){
    .checkout{
        padding:1rem 0;
        margin:0;
    }
    .checkout-tools-main-order-details-set-location-info-me{
        font-size:0.7rem;
    }
    .checkout-tools-main-order-details-set-location-info-me-c{
        font-size:0.5rem;
    }
    .checkout-tools-main-order-details-set-location-user-me{
        font-size:0.7rem;
    }
    .checkout-tools-main-order-details-set-location-user-me-b{
        font-size:0.5rem;
    }
    .checkout-tools-main-order-details-set-location-pickup-help{
        font-size:0.7rem;
    }
    .checkout-tools-main-order-details-set-location-pickup-help-d{
        font-size:0.5rem;
    }
    .checkout-tools-main-order-details-set{
        display:flex;
        flex-direction: column;
    }
    .title{
        
        & span{
            font-size:1rem;
        }
       
    }
    .hey{
        width:20%;
    }
    
}

.sdeBar{
    background-color: #f3f3f3d2;
}
.sideTop{
    border-bottom: .0625rem solid #e8e8e8;
                        padding:1rem 0.8rem;
                        background-color: white;
                        & span{
                            font-weight: 400;
                            font-size: 2rem;
                            
                        }
                        & span:hover{
                            background: none;
                        }
                        & span:focus{
                            outline: none;
                        }
                        
                        margin-bottom: 2rem;
                   
                        & button{
                           cursor: pointer;
                            padding:.5rem 0.4rem;
                            float:right;        
                            border: .0625rem solid #ed017f;
                            border-radius: .1875rem;
                            color: #ed017f;
                            text-decoration: inherit;
                            font-size:0.7rem
                        }
                        & buttom:hover{
                            color: white;
                        }
                        
                        & button:focus{
                            outline: none;
                        }
}



.del{
    text-align: left;
    border-bottom: .0625rem solid #e8e8e8;
    background-color: white;
}
.checkout-tools-main checkout-tools-main-payment{
    position: relative;
}
.link{
    position:relative;
}

    .title{
        padding:0.3rem 1rem;
        position:relative;
      text-align:center;
        &-log{
           
            position:relative;
            cursor:pointer;
            font-size: 2rem;
            font-weight: 600;
            color: blue;
            
            &-1{
                position:relative;
                cursor:pointer;
              font-size: 1.5rem;
              font-weight: 600;
              color: orange;
            }
            }
        &-check{
            
         
            text-align:center;
            font-weight:600;
            font-size:1.5rem;
           
        }
    }