@import "../../style/variable";

.featured {
  margin: 2rem 2rem;
  background-color: $color-white;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
  border-radius: 5px;

  &-item {
    &:not(:last-child) {
      margin-right: 1rem !important;
    }

    & img {
      margin-right: 10px;
      width: 100%;
    }
  }
}


@media screen and (max-width: 768px) {
  .featured {
    margin: 0.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5rem;
   
  }
}
