@import "../../../style/variable";

.productDetailImage {
  &-main {
    img {
      width: auto;
      height: 50vh;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }

  &-sample {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 1rem;
    margin-top: 3rem;
    &-item {
      height: 5rem;
      width: 5rem;
      border: 2px solid #f2f2f2;

      & img {
        cursor: pointer;
        width: 100%;
        height: 100%;
      }
    }
  }
}
.image-border-true{
  border: 1px solid red;
}
.image-border-false{
  border: none;
}

@media screen and (max-width: 576px) {
  .productDetailImage {
    &-main {
      img {
        width: 50vw;
        height: 50vw;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }
  }
}
