@import "../../style/variable";

.navBar {
  position: relative;
  width: 100%;
  background-color: $color-primary;
  color: $color-white;
  padding: 0.5rem 1rem 0.3rem 1rem;

  &-tools {
    display: flex;
    align-items: center;

    &-item {
      &-logo {
        margin-right: 2vw;
        & img {
          width: 10rem;
          height: 3rem;
          // object-fit: cover;
        }
        &-text1 {
          color: $color-white !important;
          font-size: 2rem;
          font-weight: 600;
        }
        &-text2 {
          color: $color-detail-button;
          font-size: 1.5rem;
          font-weight: 600;
        }
      }

      &-store {
        margin-right: 2vw;
      }

      &-help {
        margin-right: 2vw;
        &-btn {
          border: none !important;
          background-color: inherit !important;
        }
      }

      &-search {
        margin-right: 2vw;
        flex: 1;
        // background-color: greenyellow;
      }

      &-sell {
        margin-right: 2vw;
      }
      &-login {
        margin-right: 2vw;
      }
      &-cart {
        border-radius: 5px;
        background-color: $color-detail-button;
        padding: 0.5vw;

        & i {
          font-size: 1.5rem;
        }
      }
    }
  }
}
.navBar-tools-item-sell_cart-mob {
  display: none;
}
.nav-searchBar-mob {
  display: none;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown {
  position: relative !important;
}

// .dropdown-menu {
//   position: absolute !important;
//   top: 2.1rem !important;
//   left: 0 !important;
//   border: none !important;
// }

@media only screen and (max-width: 850px) {
  .navBar-tools-item-logo {
    margin-right: 1vw;
  }
  .navBar-tools-item-store {
    margin-right: 1vw;
  }
  .navBar-tools-item-help {
    margin-right: 1vw;
  }
  .navBar-tools-item-search {
    margin-right: 1vw;
  }
  .navBar-tools-item-sell {
    margin-right: 1vw;
  }
  .navBar-tools-item-login {
    margin-right: 1vw;
  }
}
@media screen and (max-width: 768px) {
  .nav-searchBar-mob {
    display: block;
  }

  .navBar {
    // background-color: $color-white;
  }
  .navBar-tools-item-logo {
    margin-right: 2vw;
    margin-left: 2rem;
  }
  .navBar-tools-item-store {
    display: none;
  }
  .navBar-tools-item-help {
    display: none;
  }
  .navBar-tools-item-search {
    display: none;
  }
  .navBar-tools-item-sell {
    display: none;
  }
  .navBar-tools-item-cart {
    display: none;
  }

  .navBar-tools-item-login {
    display: none;
  }

  .navBar-tools {
    position: relative;
  }
  .navBar-tools-item-sell_cart-mob {
    position: absolute;
    right: 0;
    display: flex;

    &-cart {
      & i {
        color: $color-white;
        font-size: 1.3rem;
      }
    }
    &-sell {
      & i {
        font-size: 1.3rem;
        color: $color-white;
      }
    }
  }
}
