$color-primary: #016fed;
$color-button: #8b054d;
$color-save: #33b27b;
$color-white:#ffff;
$color-black:black;
$color-popular: #4A4A4A;
$color-white-shadow:#c9c9c981;
$color-text:rgb(94, 87, 87);
$color-orange: orange;
$color-detail-button: #33b27b;
$color-text-shadow:rgba(124, 122, 122, 0.671);
$color-search-text:rgba(223, 223, 223, 0.459);

