@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
@import './variable';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}

html{
    font-size: 100%;
}
body{
    background-color: #f1f1f1;

}
.link{
    text-decoration: none;
    color: $color-white;
    &:hover{
        color: $color-white;
    }
}
p{
    margin-bottom: 0;
}
.color-text{
    color: $color-text;
}


// .test{
//     display: flex;
//     height: 100vh;
//     justify-content: center;
//     align-items:center;
//     flex-flow: row wrap;

// }
// .box{
//     width: 100px;
//     height: 100px;
//     margin: 10px;
//     transition: background-color 0.1s ease-in-out;
// }
// .inactive{
//     background-color: yellow;
// }

// .active{
//     background-color: red;
// }

// .avi{
//     background-color: peru;
// }