@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
@import './variable';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}
body{
    background-color: #f1f1f1;

}
.link{
    text-decoration: none;
    color: $color-black;
    &:hover{
        color: $color-black;
    }
}
p{
    margin-bottom: 0;
}