@import "../../style/variable";

.productCategory {
  margin-bottom: 2rem;

  &-tools {
    display: grid;
    grid-template-columns: 1.1fr 4fr;
    // grid-gap: 1rem;
    &-item {


      padding: 1rem 0.5rem;
      &:not(:last-child) {
        background-color: inherit;
        overflow: auto;
        height: auto;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .productCategory-tools {
    grid-template-columns: 1.6fr 4fr;
  }
}

@media screen and (max-width: 768px) {
  .productCategory{
  &-tools {
    grid-template-columns: 1fr;
    &-item {
      &:not(:last-child) {
        display: none;
      }
    }
  }
}
}
