@import "../../style/variable";

.footer {
  height: 50vh;
  background-color: #323232;

  &-section-top {
    color: $color-white;
    background-color: #282828;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;

    &-item {
      padding: 0.5rem;

      &-logo {
        font-weight: 700;
      }

      &-newsLetter {
        &-contact {
          display: flex;
        }
        & span {
          font-weight: 700;
          text-transform: uppercase;
        }
        & p {
          margin: 0.3rem 0;
        }
        & input {
          width: 100%;
          border-radius: 5px;
          border: none;
          padding: 0.3rem;
          outline: none;
          border: 1px solid $color-white;

          &:hover {
            border: 1px solid $color-detail-button;
          }
        }

        & button {
          border-radius: 5px;
          border: none;
          padding: 0.3rem 0.5rem;
          outline: none;
          border: 1px solid $color-white;
          color: $color-white;
          background-color: inherit;

          &:hover {
            border: 1px solid $color-detail-button;
            color: $color-detail-button;
          }
        }
      }

      &-app {
        &-top {
          display: flex;
          justify-content: space-between;
          align-items: center;

          & i {
            padding: 0.6rem;
            border-radius: 4px;
            background-color: $color-detail-button;
            margin-right: 0.5rem;
          }

          & span {
            font-weight: 700;
          }
        }

        &-bottom {
          display: flex;
          &-app {
            display: flex;
            align-items: center;
            border: 1px solid $color-white;
            padding: 0.1rem 0.8rem;
            text-transform: capitalize;
            border-radius: 5px;
            margin-top: 0.5rem;
            cursor: pointer;
            &:hover {
              border: 1px solid $color-detail-button;
              color: $color-detail-button;
            }

            & i {
              font-size: 1.5rem;
            }

            & p {
              font-size: 0.6rem;
            }
            & span {
              font-weight: 700;
              font-size: 0.8rem;
              margin-top: -1rem !important;
            }
          }
        }
      }
    }
  }
}

.footer-section-middle {
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 1rem 2rem;
  background-color: inherit;

  &-item {
    & span {
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 5rem;
    }

    &-list {
      list-style: none;
      margin-left: 0;
      padding-left: 0;
      margin-top: 1rem;

      &-link {
        text-transform: capitalize;
        color: rgb(190, 190, 190);
        &:hover {
          color: rgb(190, 190, 190);
          border-bottom: 1px solid rgb(190, 190, 190);
        }
      }
      & li {
        margin: 0.3rem 0;
        font-size: 0.9rem;
      }
    }
  }
}

.footer-section-bottom {
  background-color: inherit;
  color: white;
  text-align: center;
  padding: 2rem 0;
  & span {
    border-bottom: 1px solid rgb(190, 190, 190);
  }
}

.footerMobile {
  background-color: #323232;
  color: white;
  // padding: 1rem 0.8rem;
  padding-bottom: 1rem;

  &-scroll{
    background-color: #282828;
    text-align: center;
    padding: .5rem 0;
    
  }

  &-tools {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(190, 190, 190);
    padding-bottom: 0.5rem;
    margin-top: .5rem;

    &-item {
      font-size: 0.9rem;
    }
  }
  & p {
    text-align: center;
    margin-top: 0.2rem;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .footerMobile {
    display: none;
  }
}
