@import "../../../style/variable";

.productCard {
  margin: 1rem 2rem;
  background-color: $color-white;
  border-radius: 5px;

  &-heading {
    padding: 1rem 0rem 1rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.116);

    &-title {
      font-weight: 600;
      text-transform: capitalize;
    }

    &-btn {
      color: $color-button !important;
      margin-left: 1rem;
      text-decoration: none;

      &:hover {
        border-bottom: 1px solid $color-button;
      }
    }
  }

  &-tools {
    padding: 1rem 0.5rem 1rem .5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    grid-gap: 0.5rem;

    &-item {
      padding: .5rem 0rem;
      display: grid;
      height: 100%;
      cursor: pointer;
      grid-template-columns: 1fr 1fr;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1),
        0 1px 10px 0 rgba(0, 0, 0, 0.1);


      &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    

      &-link {
        display: inline;
        text-decoration: none;
      }

      &-product {
        padding: 0 1rem;
        &-text {
          padding: 0.5rem;
        }
        &-desc {
          margin-bottom: 0.5rem;
          line-height: 1.5em;
          height: 3em; /* height is 2x line-height, so two lines will display */
          overflow: hidden;
        }

        &-actual {
          font-size: 1rem;
          font-weight: 600;
        }
        &-discount {
          font-size: 13px;
          margin-left: 1rem;
          text-decoration-line: line-through;
        }
        &-save {
          font-size: 13px;
          color: $color-save;
        }

        & img {
          transition: all 0.1s;
          height: 10rem;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .productCard-tools-item {
    display: block;
    text-align: center;
    padding: 0.1rem;
  }
  .productCard-tools-item-product-text {
    padding: 0;
  }
}

@media screen and (max-width: 375px) {
  .productCard-heading {
    &-title {
      font-size: 0.9rem;
    }
    font-size: 0.8rem;
  }
  .productCard-tools-item-product {
    &-discount {
      display: none;
    }
    &-save {
      display: none;
    }
    &-desc {
      font-size: 0.8rem;
    }
    &-actual {
      font-size: 0.9rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .productCard {
    margin: 1rem 0.5rem;

    &-tools {
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media only screen and (min-width: 1300px) {
  .productCard-tools{
    grid-template-columns: repeat(4,1fr);
  }

}

