@import "../../style/variable";
.productTagAll {
  &-tools {
    margin: 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    grid-gap: 1rem;
    justify-content: space-between;

    &-item {
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1),
      0 1px 10px 0 rgba(0, 0, 0, 0.1);
      background-color: $color-white;
    }
  }
}

@media screen and (max-width: 768px) {
  .productTagAll {
    &-tools {
      margin: 0.5rem;
    }
  }
}
